@import "../bourbon/bourbon"

$color: #FF6347 	// Цвет ярких элементов темы Theme skin ?
$text_color: #888 	// Основной цвет текста ?
$main_color:#616161	// Основной цвет темы для блоков?
$bg_light: #FAFAFA	// Цвет фона ?

@mixin kerning($kerning)
	letter-spacing: $kerning + px

body
	color: $main_color
	+kerning(1)

a
	color: $color

p
	color: $text_color

.color_element
	color: $color
	
.color_bg
	background-color: $color

.color_border
	border-color: $color

.main_color_bg
	background-color: $main_color
	

